
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>alphabit render</title>
</head>
<body>

    <div id="app" v-cloak>

        <div class="container_main">


            <div class="container_row_alphabit">

        
                <div v-for="(item,i) in alphabet" :key="item.message" class="btn_list_colum">
                    
                    
                    <button v-bind:id="i" @click="alphabet_id_send(item)">
                        {{ item }} 
                    </button>
                </div>
                
            </div>


            <div class="search_block">
                <input type="text" placeholder="search notes" v-model="search_holder" @change="send_search_holder()">

                <div class="list_notes">

                    <div v-for="(item,i) in notes_list" :key="item.message" class="note_list_colum">
                    
                        <button v-bind:id="i" @click="note_set_pdf(i)" class="note_btn">
                            {{ item }} 
                        </button>
                    </div>


                </div>

                <!-- <input type="file"   style="display: none" v-model="upload_file"/>
                <button @click="add_File">Open Pdf</button> -->
                    
                <form method="post" enctype="multipart/form-data">

                    <input type="file"  name="upload_file" value=""  accept="application/pdf">
                    <button type="submit" >upload pdf</button> 
                    
                </form>

            </div>


            <div class="reader_block">

            <object
            v-bind:data='current_pdf'
                type="application/pdf"  
            >
        

            </div>

            
        </div>

    </div>


    <script src="vue@3"></script>

    <script>
        let app = Vue.createApp({
            
            data() {
                return {
                    search_holder:"",
                    alphabet: String("АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ").split(""),
                    notes_list:[],
                    current_pdf:"",
                    upload_file:"",

                }
            },
            methods:{

                alphabet_id_send(alphabet_id){

                    
                    let data = {alphabet_id: alphabet_id};

                    fetch("/alphabet_id", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'}, 
                    body: JSON.stringify(data)
                    })

                    .then((response) => {
                        return response.json();
                    })
                    
                    .then((res_data) => {

                        this.notes_list = []

                        for (let i = 0 ;i<res_data.length;i++){
                            this.notes_list.push(res_data[i]["name"])
                        }
                    })

                    
                },

                note_set_pdf(note_id){
                    
                    this.current_pdf = this.notes_list[note_id]
                  
                },

                
                add_File(callback){
                    console.log("ff");
                },

                send_search_holder(){
                    console.log(this.search_holder);

                    let data = {search_holder: this.search_holder};

                    fetch("/search_holder", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }, 
                    body: JSON.stringify(data)
                    })
                    
                    .then((response) => {
                        return response.json();
                    })
                    
                    .then((res_data) => {
                        this.notes_list = []
                        for (let i = 0 ;i<res_data.length;i++){
                            this.notes_list.push(res_data[i]["name"])
                        }
                    })
                }
            }
    })

    app.mount('#app')


    </script>


</body>
</html>